<!doctype html>
<html>
  <head>
    <title>Update food <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
    <div class="navbar" id="myNav">
      <a href="#" class="icon" onclick="toggleMenu()">
        <i class="fas fa-bars" style="color: #fff;"></i>
      </a>
      <div class="nav-links">
        <a href="/" >Home</a>
        <a href="addfood">Add your food</a>
        <a href="search">Search for food</a>
        <a href="searchupdate" class="active">Update food</a>
        <a href="listfood">Food list</a>
        <a href="login">Login</a>
        <a href="register">Register with us</a>
        <a href="logout">Logout</a>
      </div>
    </div>
    

    <h1>Update food item: <%=shopName%></h1>
    <form action="/searchupdate-result" method="GET">
      <p>What food item do you want to update?</p>
      <input id="search-box" type="text" name="keyword" value="Default">
      <input type="submit" value="Search" >
    </form>

    
    <ul>
        <% availableFood.forEach(function(food) { %>
          <form action="/foodupdated" method="POST">
            <h2><%= food.name.toUpperCase() %></h2>

          <p>Name: <input name="name" type="text"  value="<%= food.name %>" /> </p>
          <p>Typical values per: <input name="value" type="text"  value="<%= food.value %>" /> </p>
          <p>Unit of the typical value: <input name="unit" type="text"  value="<%= food.unit %>" /></p>
          <p>Carbs: <input name="carbs" type="text" value="<%= food.carbs %>" /> g</p>
          <p>Fat:  <input name="fat" type="text" value="<%= food.fat %>" />g</p>
          <p>Protein: <input name="protein" type="text"  value="<%= food.protein %>" />g</p>
          <p>Salt: <input name="salt" type="text"  value="<%= food.salt %>" />g</p>
          <p>Sugar: <input name="sugar" type="text"  value="<%= food.sugar %>" />g</p>

          <input type="submit" value="Save" /> 
          <button class ='delete' type="button" onclick="deleteFunction()">Delete</button>
        </form> 

     
        <!-- <button class ='delete' type="button" onclick="deleteFunction()">Delete</button> -->
        <form style="display: none;" action="/deletefood" method="POST"  >
       <input name="name" style="display: none;" type="text" style="display:none" value="<%= food.name %>" /> 
        <input id="deleteit" style="display: none;" type="submit"  value="delete">  
       </form>   
        <% }) %>
     </ul>
    
      

       
  <script>
    function deleteFunction()
    {
      console.log("TEXT")
      if (confirm('Are you sure?') == true)

       {       console.log("OLAOLA")

       document.getElementById("deleteit").click(); }

    }
  </script>

  
  </body>
  </html>
